@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
/* :root {
    main css variables
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile first approach */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video {
    height: 100vh;
}

.video video {
    height: 100%;
    overflow: hidden;
}

.search {
    position: absolute;
    z-index: 1;
    text-align: center;
}

/*
* apply this class when there is a search result
*/
.search-top {
    top: 20px;
}

.search h1 {
    font-family: 'Monoton', cursive;
    font-size: 2.5rem;
    font-weight: lighter;
    color: #fff;
    margin-bottom: 60px;
    animation: pulsate 2.5s infinite alternate;
}

.search-top h1 {
    animation: none;
}

input {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px;
}

.notification {
    position: absolute;
    z-index: 1;
    top: 60px;
    background-color: palevioletred;
    color: white;
    padding: 5px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 20px;
    opacity: 0.8;
    width: 100%;
    margin: auto;
    display: none;
}

.search-result {
    position: absolute;
    height: 715px;
    top: 180px;
    background-color: white;
    opacity: 0.9;
    width: 100%;
    /* display: block; when get search results */
    display: none;
}

.lyrics {
    margin: 20px 20px 40px 20px;
    border-bottom: dotted 1px rebeccapurple;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 400px;
    margin: 0 auto;
}

.get-lyrics {
    padding: 0 20px;
    border-radius: 20px;
    height: 30px;
    min-width: 105px;
}

.get-lyrics:hover {
    background-color: blue;
}

.about {
    display: flex;
    align-items: center;
}
.singer {
    font-size: 1.2rem;
    font-weight: bolder;
}

/* Neon effect */
@keyframes pulsate {
    100% {
        /* Larger blur radius */
        text-shadow:
            0 0 4px blue,
            0 0 11px blue,
            0 0 19px blue,
            0 0 40px rgb(150, 0, 255),
            0 0 80px rgb(170, 0, 235),
            0 0 90px rgb(200, 0, 200),
            0 0 100px rgb(235, 0, 170),
            0 0 150px rgb(255, 0, 50);
    }

    0% {
        /* Smaller blur radius */
        text-shadow:
            0 0 2px red,
            0 0 4px red,
            0 0 6px red,
            0 0 10px #0fa,
            0 0 45px #0fa,
            0 0 55px #0fa,
            0 0 70px #0fa,
            0 0 80px #0fa;
    }
}

/* Desktop */
@media (min-width: 821px) {
    .lyrics {
        width: 700px;
        /* margin: 0 auto; */
    }
}
